#canvas {
  border: 2px solid #bbbbbb;
}

.color-bar {
  list-style: none;
}

.color-bar > li {
  display: inline-block;
}

.color-bar > .active {
    border: 4px inset yellow;
}

.color-bar li:hover {
    border: 4px inset yellow;
}

.color-bar > li > a {
    display: block;
    padding: 15px;
}
